h3 {
  margin-top: 10px;
  font-size: 40px;
  margin: 10px;
}

.btn-primary {
  border-radius: 0px;
  width: 300px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
body {
  background-color: lightblue;
  background-image: url(images/bg3.jpg);
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  margin-top: 40;
}
.col-md-6 {
  background: rgba(18, 24, 26, 0.5);
  border-radius: 15px 15px 15px 15px;
}
.label {
  font-size: 20px;
}
.input-group {
  margin-top: 10px;
  margin-bottom: 7px;
  color: black;
}
.input-group-addon {
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid grey;
  font-size: 20px;
  color: black;
}
.form-control {
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid grey;
  padding: 15px;
  color: white;
  font-size: 19px;
}

.btn-primary:hover {
  color: black;
}

label {
  color: black;
  font-weight: normal;
}

::-ms-input-placeholder {
  color: white;
}